{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>Task Manager</title>
</head>
<body>

<header>
    <a href="{% url 'home' %}">Home</a> 
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'tasks' %}">Pending tasks</a>
    <a href="{% url 'completed_tasks' %}">Completed tasks</a>

    <div class="nav-right">
        <a href="{% url 'create_task' %}">+ New task</a>
    </div>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

</header>

{% block content %} {% endblock content %}

</body>
</html>