{% extends "base.html" %}

{% block content %}

<h1>Completed tasks:</h1>

    <ul>
        {% for task in completed_tasks %}
        <li><a href="{% url 'task_detail' task.id %}">Title: {{task.title}}</a></li>
        <li>Task Date: {{task.date}}</li>
        <li>Task Time: {{task.task_time}}</li>
        <li>Description: {{task.details}}</li>
        <li>Task id: {{task.id}}</li>
        <li>
            Move task to task manager:
            {% if task.id %}
                <form method="post" action="{% url 'mark_uncompleted' pk=task.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="incomplete" value="True">
                    <button type="submit">Mark as pending</button>
                </form>
            {% else %}
                <!-- Handle the case where task.id is None or empty -->
                <p>Task ID is not valid.</p>
            {% endif %}

        {% endfor %}
    </ul>
{% endblock content %}